$color_black: #000000;
$color_white: #FFFFFF;
$color_text_1: #FAFAFA;
$color_text_2: #7D8184;
$color_secondary_1: #F5F5F5;
$color_secondary_2: #FEFAF1;
$color_secondary_3: #DB4444;
$color_button_1: #00FF66;
$color_button_2: #DB4444;
$color_button_hover: #E07575;
$color_button_3: #A0BCE0;
